<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta http-equiv="refresh" content="60">
    <title>Il Grande Occhio</title>
</head>

<style>
{#    img {#}
{#  width: 300px;#}
{#}#}
th, td {
    padding: 15px;
  border: 0px solid black;
  {#  border-radius: 15px;#}
  {#border-collapse: collapse;#}
}
{#th {#}
{#  border: 1px solid black;#}
{#    border-radius: 10px;#}
  {#border-collapse: collapse;#}
{#    font-size: 20px;#}
{#}#}
</style>
<center><h1 style="background-color: red; font-size: 50px"><font color=white>ZNews24</font></h1></center>
<br>
<body style="background-color:{{pageColor}};">
   <include src="graph.html"></include>
   <p>{%   load static %}<img src="graph.png"/> </p>
<div style="width: 1px">{{ Gauge | safe}}
<br>{{ Gauge2 | safe}}
<br>{{ GaugePR | safe}}
    <br>
</div>
</body>
</html>