<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta http-equiv="refresh" content="10">
    <title>Il Grande Occhio</title>
</head>

<style>
th, td {
    padding: 15px;
  border: 1px solid black;
  {#  border-radius: 15px;#}
  {#border-collapse: collapse;#}
    font-size: 30px;
}
{#th {#}
{#  border: 1px solid black;#}
{#    border-radius: 10px;#}
  {#border-collapse: collapse;#}
{#    font-size: 20px;#}

</style>

<center><h1 style="background-color: red; font-size: 50px"><font color=white>ZNews24</font></h1></center>
<br>
<body style="background-color:#e2f5ef;">
<center> {{ Grafico |safe }}</center>
</body>
</html>
